.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.projects__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.projects__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.projects__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__overlay,
  &:focus .projects__overlay {
    transform: translateY(0);
    opacity: 1;
  }
}

.projects__wrapper-first {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: $color-white;
  font-size: 18px;
  line-height: 1.56;
  padding: 77px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $tablet) {
    padding: 49px 24px 77px 24px;
  }
  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }
  @media screen and (max-width: 479px) {
    font-size: 10px;
  }
}

.projects__wrapper-second {
  border: 1px solid $border-color-projects;
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}

.projects__subtitle {
  color: $color-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  @media screen and (max-width: 479px) {
    font-size: 13px;
  }
}

.projects__text {
  color: $color-secondary;
  font-size: 16px;
  line-height: 1.88;
}
