.page-footer {
  color: $color-white;
  background-color: $bg-color-tertiary;
  padding: 60px 0px;

  &--display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-footer--wrapper {
  flex-grow: 1;
  margin-bottom: 60px;
}

.page-footer__logo {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  display: block;
  color: $color-white;
  margin-bottom: 20px;
  text-align: center;
  &--accent {
    color: $color-accent;
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
