.address {
  font-style: normal;
  line-height: 1.71;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}

.address__text {
  margin-bottom: 8px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.address__list {
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: $color-footerText;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
