.follow {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    margin-left: 165px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }
}

.follow__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.follow__list {
  display: flex;
  list-style: none;
}

.follow__item {
  width: 44px;
  height: 44px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.follow__link {
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.follow__icon {
  fill: $color-white;
}
