.page-header__button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 9999;

  & .page-header__icon--close {
    display: none;
  }

  &.is-open .page-header__icon--close {
    display: block;
  }

  &.is-open .page-header__icon--menu {
    display: none;
  }

  &:hover .page-header__icon,
  &:focus .page-header__icon {
    fill: $color-accent;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-open + .page-header__menu {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
    }
  }
}

.page-header__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // &--close {
  //   display: none;
  // }
}

.page-header__menu {
  background-color: $bg-color-primary;
  padding: 48px 40px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 0 0;
  }
}
