.page-header {
  border-bottom: 1px solid $border-color-header;
  position: relative;
  padding: 10px 0;

  @media screen and (min-width: $tablet) {
    padding: 0 0;
  }

  &--display {
    display: flex;
    align-items: center;
  }
}

.page-header__logo {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $color-logoBlack;
  text-decoration: none;

  &--accent {
    color: $color-accent;
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
