// Text-Colors
$color-primary: #212121;
$color-secondary: #757575;
$color-accent: #2196f3;
$color-white: #ffffff;
$color-logoBlack: #000000;
$color-footerText: rgba(255, 255, 255, 0.6);

// Background-Color
$bg-color-primary: #ffffff;
$bg-color-secondary: #f5f4fa;
$bg-color-tertiary: #2f303a;
$bg-color-hero: #c4c4c4;

// Border-Color
$border-color-header: #ececec;
$border-color-projects: #eeeeee;

// Button-Color
$btn-color-hover: #188ce8;

// Icon-Color
$icon-color: #afb1b8;

//Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;