.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  color: $color-primary;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  list-style: none;
  margin-bottom: -30px;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  height: 92px;

  margin-bottom: 30px;

  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $color-accent;
  }
}

.clients__icon {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $color-accent;
  }
}
