.hero {
  text-align: center;
  background-color: $bg-color-hero;
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  cursor: pointer;
  color: $color-white;
  background-color: $color-accent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-color-hover;
  }
}
