.checkbox {
  display: flex;

  margin-bottom: 30px;
}

.checkbox__input {
  appearance: none;

  &:checked + .checkbox__label .checkbox__icon {
    background-color: $color-accent;
    border: none;
  }

  &:focus + .checkbox__label .checkbox__icon {
    border: 2px solid $color-accent;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
  width: 100%;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.72;
  }
}

.checkbox__icon {
  margin-right: 8px;
  border: 2px solid $color-primary;
  border-radius: 4px;
  flex-shrink: 0;
  fill: transparent;
}

.checkbox__terms {
  color: $color-secondary;
}

.checkbox__link {
  color: $color-accent;
}
