.field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  color: $color-secondary;
}

.field__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;

  &--last {
    margin-bottom: 20px;
  }
}

.field__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $color-accent;
  }

  &:focus + .field__icon {
    fill: $color-accent;
  }
}

.field__icon {
  display: block;
  position: absolute;
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field__comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $desktop) {
    font-size: 12px;
    line-height: 1.17;
  }

  &:focus {
    border-color: $color-accent;
  }
}

.field__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $color-white;
  background-color: $color-accent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 55px 10px 56px;
  min-width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-color-hover;
  }
}
